<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <!--<webServices>
        <protocols>
          <clear/>
        </protocols>
      </webServices>-->
    </system.web>
  <appSettings>

    <add key="BatFileLocation" value="F:\GITProjects\ChartBuilder\ImageMagickWebService\bin\" />
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>     
        <add name="Access-Control-Allow-Origin" value="http://US-WASH-3MT70R1.morningstar.com:2323/ImageMagickWebService/ConverttoPng.asmx/ConvertSVGtoPNG" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
