<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <!--<webServices>
        <protocols>
          <clear/>
        </protocols>
      </webServices>-->
  </system.web>
  <appSettings>
    <add key="BatFileLocation" value="D:\wwwroot\ChartBuilder\ImageFiles\"/>
    <add key="ServerPath" value="http://erpublishdev81:88/imagefiles/"/>
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://erpublishdev81:88/ImageMagickWebService/ConverttoPng.asmx/ConvertSVGtoPNG"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>